{% extends "../inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% block content %}
{% settings_value "ALLOW_USER_API_KEYS" as allow_keys %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ user.username }}</b></h4>
    </div>
    {% if allow_keys %}
    <div id="token_div" class="w3-container w3-margin-bottom">
        <div class="ims-card w3-card w3-padding w3-left w3-col l12 xl6">
            <div id="message_token" class="w3-padding w3-left w3-col l12 xl6 ims-hidden">
            </div>
            <div id="{{ key.id }}" class="ims-card w3-card w3-padding w3-left w3-col w3-margin-bottom">
                <div class="w3-left"><p>{{ key.key }}<br><small>Created: {{ key.created }}<br>Expires: {% if key.expires %}{{ key.expires }}{% else %}Never{% endif %}</small></p></div>
                <div class="w3-right"><a href="javascript:void(0)" alt="Delete API Key {{ key.id }}" class="ims-theme-op w3-hover-red w3-button w3-round w3-border" onclick="deltoken({{ key.id }})">- Delete</a></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function deltoken(id) {
        var parentdiv = document.getElementById(id);
        $.ajax({
            url: '/accounts/profile/token/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $('#message_token').html(data);
                $('#message_token').removeClass('ims-hidden');
            }
        });
    }
</script>
{% endblock %}