{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Update {{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/accounts/profile/" alt="Profile">Profile</a>
    » {{ name }}
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Update Profile</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-padding w3-bar-block {% if theme == 'Dark' %}ims-theme1-card{% else %}w3-card{% endif %}" action="." method="post">
            {% csrf_token %}
            {{ user_form.non_field_errors }}
            {% for field in user_form %}
            <div class="w3-bar-item">
                {{ field.errors }}{{ field.label }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field {% if theme == 'Dark' %}ims-theme1-field{% else %}{% endif %}" value="Update">
            </div>
            <div class="w3-bar-item">
                <a href="/accounts/profile/" class="w3-button w3-light-grey ims-form-field {% if theme == 'Dark' %}ims-theme1-field{% else %}{% endif %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}