﻿{% extends "../inventory/base.html" %}
{% load get_setting %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
	    <p>You have been logged out. Click <a href='/accounts/login/'>here</a> to login again.</p>
    </div>
</div>
{% endblock %}

