﻿{% extends "../inventory/base.html" %}
{% block content %}
{% load get_setting %}
{% load custom_tags %}
{% settings_value "ALLOW_USER_PASSWORD_RESET" as userpasswordreset %}
{% settings_value "ALLOW_USER_SIGN_UP" as usersignup %}
{% settings_value "ALLOW_USER_EDIT_PROFILE" as edit_profile %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        {% if form.errors %}{% for error in form.non_field_errors %}{% if error == 'This account is locked out' %}
        <p class="w3-text-red">This account is locked out. Please contact your administrator.</p>
        {% else %}
        <p class="w3-text-red">Your username and password didn't match. Please try again.</p>
        {% endif %}{% endfor %}{% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <p class="w3-text-red">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to continue.</p>
        {% endif %}
        {% endif %}
        <form method="post" action="/accounts/login/">
            {% csrf_token %}
            <fieldset class="w3-container w3-padding w3-margin-bottom" style="border:0;">
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <input type="submit" value="Login" class="w3-button w3-grey w3-round w3-margin-top">
                <input type="hidden" name="next" value="{{ next }}">
            </fieldset>
        </form>{% if userpasswordreset %}
        <div class="w3-left">
            <a class="w3-padding w3-margin-right w3-button w3-round ims-theme-op w3-hover-blue" href="/accounts/password_reset/">Forgot Password</a>
        </div>{% endif %}{% if usersignup %}
        <div class="w3-left">
            <a class="w3-padding w3-button w3-round ims-theme-op w3-hover-green" href="/accounts/signup/">Sign Up</a>
        </div>{% endif %}
    </div>
</div>
{% endblock %}

