﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Change Password</h2>
        {% if form.errors %}
        <p class="w3-text-red">Please correct the error{{ form.errors.items|pluralize }} below.</p>
        {% endif %}
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
            <fieldset class="w3-container w3-padding w3-margin-bottom" style="border:0;">
                <div>
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }}
                    {{ form.old_password | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <div>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <div>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <input type="submit" value="Change My Password" class="w3-button w3-blue w3-round w3-margin-top">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

