﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Password Reset Complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
	<p><a href="{{ login_url }}">Log in</a></p>
    </div>
</div>
{% endblock %}

