﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Password Changed{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Password change successful</h2>
        <p>Your password was changed.</p>
    </div>
</div>
{% endblock %}

