﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Password Reset Confirmation{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Password Reset Confirmation</h2>
        {% if form.errors %}
        <p class="w3-text-red">Please correct the error{{ form.errors.items|pluralize }} below.</p>
        {% endif %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
	    <fieldset class="w3-container w3-card w3-padding w3-margin-bottom" style="border:0;">
                <div>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <div>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <input type="submit" value="Change My Password" class="w3-button w3-blue w3-round w3-margin-top">
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

