﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Password Reset</h2>
        <p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            <fieldset class="w3-container w3-padding w3-margin-bottom" style="border:0;">
                <div>
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                </div>
                <input type="submit" value="Reset my password" class="w3-button w3-blue w3-round w3-margin-top">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

