﻿{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Password Reset Sent</h2>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
	<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock %}

