﻿{% extends "../inventory/base.html" %}
{% load custom_tags %}
{% load get_setting %}
{% load token_tags %}
{% load static %}
{% block content %}
{% settings_value "MFA_ENABLED" as mfa %}
{% settings_value "ALLOW_USER_API_KEYS" as allow_keys %}
{% settings_value "INSTALLED_ADDONS" as addons %}
{% settings_value "ALLOW_USER_EDIT_PROFILE" as edit_profile %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ user.username }}</b></h4>
    </div>
    <div class="w3-right">
        <a class="w3-button w3-border ims-theme-op w3-hover-red w3-round" alt="log out" href="/accounts/logout/?next=/inventory/">Logout</a>
    </div>
    <div id="message_div" class="w3-padding w3-left w3-col l12 xl6">
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="ims-card w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><h5><b>Profile Information</b></h5></div>
            {% if edit_profile %}<div class="w3-right"><a class="w3-button w3-border w3-round ims-theme-op w3-hover-blue" href="/accounts/profile/edit/">Edit</a></div>{% endif %}
            <div class="ims-card w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b>First Name:</b> {{ user.first_name }}</div>
                <div class="w3-right"><b>Last Name:</b> {{ user.last_name }}</div>
                <div class="w3-left w3-col"><b>Email Address:</b> {{ user.email }}</div>
                <div class="w3-left"><b>Last Logon:</b> {{ user.last_login }}</div>
                <div class="w3-right"><b>Created:</b> {{ user.date_joined }}</div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="ims-card w3-card w3-padding w3-left w3-col l12 xl6">
            <a class="w3-button w3-border w3-round ims-theme-op w3-hover-blue" href="/accounts/password_change/">Change Password</a>
        </div>
    </div>
    {% if mfa %}
    <div class="w3-container w3-margin-bottom">
        <div class="ims-card w3-card w3-padding w3-left w3-col l12 xl6">
            <a class="w3-button w3-border w3-round ims-theme-op w3-hover-blue" href="/mfa/">Manage MFA Tokens</a>
        </div>
    </div>
    {% endif %}
    {% if allow_keys %}
    <div id="token_div" class="w3-container w3-margin-bottom">
        <div class="ims-card w3-card w3-padding w3-left w3-col l12 xl6">
            <div id="message_token" class="w3-padding w3-left w3-col l12 xl6 ims-hidden">
            </div>
            {% for key in apikeys %}
            <div id="{{ key.id }}" class="ims-card w3-card w3-padding w3-left w3-col w3-margin-bottom">
                <div class="w3-left"><p><a href="/accounts/profile/token/{{ key.id }}/">{{ key.key|obfuscate_token }}</a><br><small>Created: {{ key.created }}<br>Expires: {% if key.expires %}{{ key.expires }}{% else %}Never{% endif %}</small></p></div>
                <div class="w3-right"><a href="javascript:void(0)" alt="Delete API Key {{ key.id }}" class="ims-theme-op w3-hover-red w3-button w3-round w3-border" onclick="deltoken({{ key.id }})">- Delete</a></div>
            </div>
            {% endfor %}
            <div class="w3-left"><a href="javascript:void(0)" onclick="newtoken()" alt="Create API Key" class="w3-button ims-theme-op w3-hover-green w3-round w3-col w3-border">Create API Key</a></div>
        </div>
    </div>
    {% endif %}
    {% for addon in addons %}
    {% if addon.enabled %}
    {% with template_name=addon.name|lower|add:"/profile.html" %}
    {% include_maybe template_name %}
    {% endwith %}
    {% endif %}
    {% endfor %}
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function deltoken(id) {
        var parentdiv = document.getElementById(id);
        $.ajax({
            url: '/accounts/profile/token/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $('#message_token').html(data);
                $('#message_token').removeClass('ims-hidden');
            }
        });
    }
    function newtoken() {
        var parentdiv = document.getElementById('token_div');
        function getTokens(){
            return $.ajax({
                url: '/accounts/profile/token/',
                type: 'get',
                success: function(inner_data) {
                    $('#token_div').html(inner_data);
                }
            });
        }
        $.ajax({
            url: '/accounts/profile/token/create/',
            type: 'get',
            success: async function(data) {
                if (data.includes('green')) {
                    await getTokens();
                };
                $('#message_token').html(data);
                $('#message_token').removeClass('ims-hidden');
            }
        });
    }
</script>
{% endblock %}

