{% extends "../inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h2>Sign Up</h2>
        {% if form.errors %}
        <p class="w3-text-red">Please correct the error{{ form.errors.items|pluralize }} below.</p>
        {% endif %}
        {% if message %}
        <p class="w3-text-red">{{ message }}</p>
        {% endif %}
        <p>Please enter your information to create a new account.</p>
        {% if form %}
        <form method="post">
            {% csrf_token %}
	    <fieldset class="w3-container w3-card w3-padding w3-margin-bottom" style="border:0;">
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.username.errors }}
                    {{ form.username.help_text }}
                </div>
                <div>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.first_name.errors }}
                </div>
                <div>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.last_name.errors }}
                </div>
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.email.errors }}
                    {{ form.email.help_text }}
                </div>
                <div>
                    {{ form.password1.label_tag }}{{ form.password1 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.password1.errors }}
                    {{ form.password1.help_text }}
                </div>
                <div>
                    {{ form.password2.label_tag }}{{ form.password2 | add_classes:"w3-input w3-border w3-round ims-form-field" }}
                    {{ form.password2.errors }}
                    {{ form.password2.help_text }}
                </div>
                <input type="submit" value="Sign Up" class="w3-button w3-blue w3-round w3-margin-top ims-form-field">
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

