﻿{% extends "inventory/base.html" %}
{% load get_setting %}

{% block title %}Alternate SKUs{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Alternate SKUs</b></h4>
    </div>
    {% if perms.inventory.add_alternatesku %}
    <div class="w3-right">
        <a href="/inventory/admin/alternatesku/create/" alt="Add Alternate SKU" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
    </div>
    {% endif %}
    <div class="w3-container">
        {% for alt in alternates %}
        {% cycle "add" "not" as parentdiv silent %}
        {% if parentdiv == "add" %}<div class="w3-col">{% endif %}
        <div class="w3-col l12 xl6 w3-padding ims-card w3-card">
            <a class="w3-medium"><b>{{ alt.manufacturer }}</b> ({{ alt.sku }})</a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right" alt="Expand information for Alternate SKU {{ alt }}">+</a>
            <div class="w3-col w3-padding ims-hidden ims-card w3-card">
                {% for part in alt.get_parts %}
		        <div class="w3-left w3-col"><a href="{{ part.get_absolute_url }}" alt="View Part {{ part.name }}"><b>{{ part.name }}</b> ({{ part.sku }})</a><br/>{{ part.description }}</div>
                {% endfor %}
            </div>
        {% if parentdiv == "not" %}</div>
        </div>{% else %}</div>{% endif %}
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=parts %}
</div>
<script>
    function ims_expand(elem) {
        var parent = elem.parentNode;
        var child_div = parent.getElementsByTagName("div")[0];
        if (elem.text === "+") {
            elem.text = "-";
            child_div.classList.remove("ims-hidden");
        } else {
            elem.text = "+";
            child_div.classList.add("ims-hidden");
        }
    }
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input class="w3-round ims-form-field" type="text" placeholder="search for skus" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button w3-round" type="submit">Search</button>
    </form>
</div>
<script>
    var prev_scroll_pos = window.pageYOffset;
    window.onscroll = function() {
        var current_scroll_pos = window.pageYOffset;
        var elem = document.getElementById("search");
        if (prev_scroll_pos > current_scroll_pos) {
            elem.style.top = "43px";
        } else {
            elem.style.top = "-15px";
        }
        prev_scroll_pos = current_scroll_pos;
    }
</script>
{% endblock %}

