<div class="w3-col w3-padding w3-margin-bottom ims-hidden ims-card w3-card">
    <a href="{{ container.get_absolute_url }}" class="w3-medium" alt="Link to Storage {{ container.name }}"><b>{{ container.name }}</b></a>
    <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right" alt="Expand contents of {{ container.name }}">+</a>
    <div class="w3-col w3-padding w3-margin-bottom ims-hidden ims-card w3-card">
        <div class="w3-border-bottom w3-col w3-small">
            {{ container.description|truncatechars:30 }}
        </div>
        {% if container.has_parts %}
        {% for ps in container.get_parts_storage %}
        <div class="w3-border-bottom w3-col w3-padding">
            <div class="w3-left">
                <a href="{{ ps.part.get_absolute_url }}">{{ ps.part.name }}</a>
            </div>
            <div class="w3-right">{{ ps.count }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="w3-border-bottom w3-col">
            <strong>This container does not contain any parts at the moment</strong>
        </div>
        {% endif %}
    </div>
    {% if container.has_children %}
    {% for child in container.get_children %}
    {% include "inventory/storage/child.html" with container=child %}
    {% endfor %}
    {% endif %}
</div>
