<ul class="ims-ul w3-left">
    <li><a href="{{ container.get_container_url }}" class="w3-medium" alt="Link to Container {{ container.name }}">{{ container.name }}</a></li>
    {% if container.has_children %}
    {% for child in container.get_children %}
    <li class="w3-col">
        {% include "inventory/storage/child-simple.html" with container=child %}
    </li>
    {% endfor %}
    {% endif %}
</ul>
