﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}{{ container.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ container.name }}</b></h4>
        <p class="w3-small">{{ container.description }}</p>
	    <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ previous }}" alt="View Previous Storage">Previous</a>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ next }}" alt="View Next Storage">Next</a>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-right w3-padding"><em><a href="{{ container.get_container_url }}" alt="Switch to hierarchial view">Switch View</a></em></div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Parts</b></h5></div>
            {% if perms.inventory.add_partstorage %}
            <div class="w3-right">
                <a href="/inventory/admin/partstorage/create/?storage={{ container.id }}" alt="Add Part" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if container.has_parts %}
            {% for ps in container.get_parts_storage %}
	    <div id="id_{{ ps.id }}" class="w3-padding w3-left w3-col ims-card w3-card">
                <div class="w3-left"><a href="{{ ps.part.get_absolute_url }}" alt="View Part {{ ps.part.name }}"><b>{{ ps.part.name }}</b> ({{ ps.part.sku }})</a></div>
                <div class="w3-right">
                    {% if perms.inventory.increment_partstorage %}
                    <a href="javascript:void(0)" alt="Add 1 to {{ ps.part.name }}" class="w3-hover-green w3-button w3-round w3-border ims-padding-small" onclick="addobj({{ ps.id }})">+</a>
                    {% endif %}{% if perms.inventory.decrement_partstorage %}
                    <a href="javascript:void(0)" alt="Subtract 1 from {{ ps.part.name }}" class="w3-hover-red w3-button w3-round w3-border ims-padding-small" onclick="subobj({{ ps.id }})">-</a>
                    {% endif %}
                </div>
                <div class="w3-right w3-margin-right">{{ ps.count }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>{% if perms.inventory.increment_partstorage %}
    function addobj(id) {
        $.ajax({
            url: '/inventory/partstorage/' + id + '/add/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/pspart/',
                    type: 'get',
                    success: function(data) {
                        $("#id_" + id).html(data);
                    }
                });
            }
        });
    }{% endif %}{% if perms.inventory.decrement_partstorage %}
    function subobj(id) {
        $.ajax({
            url: '/inventory/partstorage/' + id + '/sub/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/pspart/',
                    type: 'get',
                    success: function(data) {
                        $("#id_" + id).html(data);
                    }
                });
            }
        });
    }{% endif %}
</script>
{% endblock %}

