﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}

{% block title %}{{ container.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ container.name }}</b></h4>
        <p class="w3-small">{{ container.description }}</p>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ previous }}" alt="View Previous Storage">Previous</a>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ next }}" alt="View Next Storage">Next</a>
    </div>
    <div class="w3-right w3-padding"><em><a href="{{ container.get_absolute_url }}" alt="Switch to standard view">Switch View</a></em></div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Summary Parts</b></h5></div>
            {% if perms.inventory.add_partstorage %}
            <div class="w3-right">
                <a href="/inventory/admin/partstorage/create/?storage={{ container.id }}" alt="Add Part" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% for part in parts %}
            <div class="w3-padding w3-left w3-col ims-card w3-card">
                <div class="w3-left"><a href="{{ part.get_absolute_url }}"><b>{{ part.name }}</b> ({{ part.sku }})</a></div>
		<div class="w3-right w3-margin-right">{{ partstoragesummary|get_dict_item:part.id }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if container.has_children %}
    <div class="w3-container">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <ul class="ims-ul w3-left"><li><h5><b>{{ container.name }}</b></h5></li>
                {% for child in container.get_children %}
                <li class="w3-col">
                    {% include "inventory/storage/child-simple.html" with container=child %}
		        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

