﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}
{% block title %}Storage Hierarchy{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Storage Hierarchy</b></h4>
    </div>
    {% if perms.inventory.add_storage %}
    <div class="w3-right">
        <a href="/inventory/admin/storage/create/" alt="Add Storage" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
    </div>
    {% endif %}
    <div class="w3-right w3-padding"><em><a href="/inventory/storage/" alt="Switch to standard view">Switch View</a></em></div>
    <div class="w3-container">
        {% for container in containers %}
        {% cycle "add" "not" as parentdiv silent %}
        {% if parentdiv == "add" %}<div class="w3-col">{% endif %}
        <div class="w3-col l12 xl6 w3-padding w3-margin-bottom ims-card w3-card">
            <a href="{{ container.get_container_url }}" class="w3-medium" alt="Link to Storage {{ container.name }}"><b>{{ container.name }}</b></a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right" alt="Expand contents of {{ container.name }}">+</a>
            <div class="w3-col w3-padding w3-margin-bottom ims-hidden ims-card w3-card">
                <div class="w3-border-bottom w3-col w3-small">
                    {{ container.description|truncatechars:30 }}
                </div>
                {% if container.has_parts %}
                {% for ps in container.get_parts_storage %}
                <div class="w3-border-bottom w3-col w3-padding">
                    <div class="w3-left">
                        <a href="{{ ps.part.get_absolute_url }}">{{ ps.part.name }}</a>
                    </div>
		    <div class="w3-right">{{ ps.count }}</div>
                </div>
                {% endfor %}
                {% else %}
                <div class="w3-border-bottom w3-col">
                    <strong>This container does not contain any parts at the moment</strong>
                </div>
                {% endif %}
            </div>
            {% if container.has_children %}
            {% for child in container.get_children %}
            {% include "inventory/storage/child.html" with container=child %}
            {% endfor %}
            {% endif %}
        {% if parentdiv == "not" %}</div>
        </div>{% else %}</div>{% endif %}
        {% endfor %}
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function ims_expand(elem) {
        var parent = elem.parentNode;
        var child_divs = parent.getElementsByTagName("div");
        if (elem.text === "+") {
            elem.text = "-";
            for (id in child_divs) {
                if (child_divs[id].parentNode === parent) {
                    child_divs[id].classList.remove("ims-hidden");
                }
            }
        } else {
            elem.text = "+";
            for (id in child_divs) {
                if (child_divs[id].parentNode === parent) {
                    child_divs[id].classList.add("ims-hidden");
                }
            }
        }
    }
</script>
{% endblock %}

