﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}
{% block title %}Storage List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
    <h4><b>Storage List</b></h4>
    </div>
    {% if perms.inventory.add_storage %}
    <div class="w3-right">
        <a href="/inventory/admin/storage/create/" alt="Add Storage" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
    </div>
    {% endif %}
    <div class="w3-right w3-padding"><em><a href="/inventory/container/" alt="Switch to hierarchial view">Switch View</a></em></div>
    <div class="w3-container">
        {% for container in containers %}
        {% cycle "add" "not" as parentdiv silent %}
        {% if parentdiv == "add" %}<div class="w3-col">{% endif %}
        <div class="w3-col l12 xl6 w3-padding ims-card w3-card">
            <a href="{{ container.get_absolute_url }}" class="w3-medium" alt="View Storage {{ container.name }}"><b>{{ container.name }}</b></a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right" alt="Expand information for Storage {{ container.name }}">+</a>
            <div class="w3-col w3-padding ims-hidden ims-card w3-card">
                <div class="w3-border-bottom w3-col w3-small">
                    {{ container.description|truncatechars:30 }}
                </div>
                {% if container.has_parts %}
                {% for ps in container.get_parts_storage %}
                <div class="w3-border-bottom w3-col w3-padding">
                    <div class="w3-left">
                        <a href="{{ ps.part.get_absolute_url }}" alt="View Part {{ ps.part.name }}">{{ ps.part.name }}</a>
                    </div>
		    <div class="w3-right">{{ ps.count }}</div>
                </div>
                {% endfor %}
                {% else %}
                <div class="w3-border-bottom w3-col">
                    <strong>This container does not contain any parts at the moment</strong>
                </div>
                {% endif %}
            </div>
        {% if parentdiv == "not" %}</div>
        </div>{% else %}</div>{% endif %}
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=containers %}
</div>
<script>
    function ims_expand(elem) {
        var parent = elem.parentNode;
        var child_div = parent.getElementsByTagName("div")[0];
        if (elem.text === "+") {
            elem.text = "-";
            child_div.classList.remove("ims-hidden");
        } else {
            elem.text = "+";
            child_div.classList.add("ims-hidden");
        }
    }
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding ims-search-bar w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input class="w3-round ims-form-field" type="text" placeholder="search for storage" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button w3-round" type="submit">Search</button>
    </form>
</div>
<script>
    var prev_scroll_pos = window.pageYOffset;
    window.onscroll = function() {
        var current_scroll_pos = window.pageYOffset;
        var elem = document.getElementById("search");
        if (prev_scroll_pos > current_scroll_pos) {
            elem.style.top = "43px";
        } else {
            elem.style.top = "-15px";
        }
        prev_scroll_pos = current_scroll_pos;
    }
</script>
{% endblock %}

