﻿{% extends "inventory/base.html" %}
{% load get_setting %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Logs</b></h4>
    </div>
    <div class="w3-container">
        <table class="w3-table-all w3-hoverable w3-responsive ims-table ims-card w3-card">
            <thead>
                <tr class="w3-black">
                    <th><input class="ims-form-field" id="searchDateTime" type="textbox" placeholder="DateTime" onblur="searchLogs()"{% if DateTime %}value="{{ DateTime }}"{% endif %} /></th>
                    <th><input class="ims-form-field" id="searchSeverity" type="textbox" placeholder="Severity" onblur="searchLogs()"{% if Severity %}value="{{ Severity }}"{% endif %} /></th>
                    <th><input class="ims-form-field" id="searchModule" type="textbox" placeholder="Module" onblur="searchLogs()"{% if Module %}value="{{ Module }}"{% endif %} /></th>
                    <th><input class="ims-form-field" id="searchUser" type="textbox" placeholder="User" onblur="searchLogs()"{% if User %}value="{{ User }}"{% endif %} /></th>
		            <th><input class="ims-form-field" id="searchMessage" type="textbox" placeholder="Message" onblur="searchLogs()"{% if Message %} value="{{ Message }}"{% endif %} /></th>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.created|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ log.get_severity }}</td>
                    <td>{{ log.module }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% include "inventory/pagination.html" with page=logs %}
</div>
<script>
    function searchLogs() {
        var dateTime = document.getElementById("searchDateTime").value;
        var severity = document.getElementById("searchSeverity").value;
        var module = document.getElementById("searchModule").value;
        var user = document.getElementById("searchUser").value;
        var message = document.getElementById("searchMessage").value;
        var searchQuery = "";
        if (dateTime != "") { searchQuery = searchQuery + "&datetime=" + dateTime; }
        if (severity != "") { searchQuery = searchQuery + "&severity=" + severity; }
        if (module != "") { searchQuery = searchQuery + "&module=" + module; }
        if (user != "") { searchQuery = searchQuery + "&user=" + user; }
        if (message != "") { searchQuery = searchQuery + "&message=" + message; }
        var searchUrl = window.location.href.split("?")[0] + "?" + searchQuery
        if (window.location.href != searchUrl) {
            window.location.replace(searchUrl);
        }
    }
</script>
{% endblock %}
