{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Inventory Admin{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Inventory Admin</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-padding w3-bar-block ims-card w3-card">
            <div class="w3-bar-item">
                {% if perms.inventory.view_part %}<a class="w3-button ims-form-field" href="/inventory/admin/part/">Part</a>{% endif %}
                {% if perms.inventory.view_assembly %}<a class="w3-button ims-form-field" href="/inventory/admin/assembly/">Assembly</a>{% endif %}
                {% if perms.inventory.view_storage %}<a class="w3-button ims-form-field" href="/inventory/admin/storage/">Storage</a>{% endif %}
                {% if perms.inventory.view_alternatesku %}<a class="w3-button ims-form-field" href="/inventory/admin/alternatesku/">AlternateSKU</a>{% endif %}
                {% if perms.inventory.view_partstorage %}<a class="w3-button ims-form-field" href="/inventory/admin/partstorage/">PartStorage</a>{% endif %}
                {% if perms.inventory.view_partalternatesku %}<a class="w3-button ims-form-field" href="/inventory/admin/partalternatesku/">PartAlternateSKU</a>{% endif %}
                {% if perms.inventory.view_kit %}<a class="w3-button ims-form-field" href="/inventory/admin/kit/">Kit</a>{% endif %}
                {% if perms.inventory.view_kitpartstorage %}<a class="w3-button ims-form-field" href="/inventory/admin/kitpartstorage/">KitPartStorage</a>{% endif %}
            </div>
    </div>
    </div>
</div>
{% endblock %}
