﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>About</b></h4>
        <h5>IMS {{ buildnumber }}</h5>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-padding ims-card w3-card">
            <ul class="w3-ul">
                <li><b>Associated Packages:</b></li>
                {% for pkg in pip_list %}
                <li>{{ pkg }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="w3-col l12 xl6 w3-padding ims-card w3-card">
            <p>The Inventory Management System is a simple application created and maintained by Zephyrus Computing, LLC. It is licensed under GPL-3.0+:</p>
            <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
            <p>This package is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
            <p>A support contract for troubleshooting installation, performance, operations, or additional feature requests can be acquired by enganging with Zephyrus Computing, LLC via <a href="mailto:sales@zephyruscomputing.com" alt="Email link to sales at zephyrus computing dot com">sales@zephyruscomputing.com</a>.</p>
        </div>
        <!--<div class="w3-col l12 xl6 w3-padding ims-card w3-card">
            <h4>Settings</h4>
            <div id="message" class="w3-col w3-padding w3-left"></div>
            <div>
                <a href="javascript:void(0)" onclick="toggle_theme()" alt="Toggle Site Theme" class="w3-hover-green w3-button w3-round w3-border ims-padding-small">Toggle Theme</a>
            </div>
        </div>-->
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function toggle_theme() {
        $.ajax({
            url: '/inventory/about/theme/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
            }
        });
    }
</script>
{% endblock %}
