{% load get_setting %}
{% settings_value "THEME_CHOICE" as theme %}
{% load token_tags %}
{% if type == "kitdetails" %}
<div class="w3-small">{{ kit.description }}</div>
<div class="w3-left"><b>Price:</b> ${{ kit.price }}</div>
<div class="w3-right"><b>Cost:</b> ${{ kit.get_cost }}</div>
<div class="ims-middle-left"><b>Available:</b> {{ kit.get_available_count }}</div>
{% endif %}{% if type == "kitcomponents" %}
<div class="w3-left"><h5><b>Kit Components</b></h5></div>
{% if perms.inventory.add_kitpartstorage %}
<div class="w3-right">
    <a href="/inventory/admin/kitpartstorage/create/?kit={{ kit.id }}" alt="Add Component" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
</div>
{% endif %}
{% for kps in kit.get_components %}
<div class="w3-padding w3-left w3-col ims-card w3-card">
    <div class="w3-left ims-padding-small"><a href="{{ kps.partstorage.storage.get_absolute_url }}" alt="View Storage {{ kps.partstorage.storage.name }}"><b>{{ kps.partstorage.storage.name }}</b></a> - <a href="{{ kps.partstorage.part.get_absolute_url }}" alt="View Part {{ kps.partstorage.part.name }}"><b>{{ kps.partstorage.part.name }}</b></a></div>
    <div class="w3-right ims-padding-small">x{{ kps.count }}</div>
</div>
{% endfor %}
{% endif %}{% if type == "pspart" %}
<div class="w3-left"><a href="{{ ps.part.get_absolute_url }}" alt="View Part {{ ps.part.name }}"><b>{{ ps.part.name }}</b> ({{ ps.part.sku }})</a></div>
<div class="w3-right">
    {% if perms.inventory.increment_partstorage %}
    <a href="javascript:void(0)" alt="Add 1 to {{ ps.part.name }}" class="w3-hover-green w3-button w3-round w3-border ims-padding-small" onclick="addobj({{ ps.id }})">+</a>
    {% endif %}{% if perms.inventory.decrement_partstorage %}
    <a href="javascript:void(0)" alt="Subtract 1 from {{ ps.part.name }}" class="w3-hover-redw3-button w3-round w3-border ims-padding-small" onclick="subobj({{ ps.id }})">-</a>
    {% endif %}
</div>
<div class="w3-right w3-margin-right">{{ ps.count }}</div>
{% endif %}{% if type == "psstorage" %}
<div class="w3-left"><a href="{{ ps.storage.get_absolute_url }}" alt="View Storage {{ ps.storage.name }}"><b>{{ ps.storage.name }}</b></a></div>
<div class="w3-right">
    {% if perms.inventory.increment_partstorage %}
    <a href="javascript:void(0)" alt="Add 1 to {{ ps.storage.name }}" class="w3-hover-green w3-button w3-round w3-border ims-padding-small" onclick="addobj({{ ps.id }})">+</a>
    {% endif %}{% if perms.inventory.decrement_partstorage %}
    <a href="javascript:void(0)" alt="Subtract 1 from {{ ps.storage.name }}" class="w3-hover-red w3-button w3-round w3-border ims-padding-small" onclick="subobj({{ ps.id }})">-</a>
    {% endif %}
</div>
<div class="w3-right w3-margin-right">{{ ps.count }}</div>
{% endif %}{% if type == "partdetail" %}
<div class="w3-small">{{ ps.part.description }}</div>
<div class="w3-left"><b>Price:</b> ${{ ps.part.price }}</div>
<div class="w3-right"><b>Cost:</b> ${{ ps.part.cost }}</div>
<div class="ims-middle-left"><b>Total:</b> {{ ps.part.get_total }}</div>
{% endif %}{% if type == "token" %}
<div class="w3-padding w3-left w3-col l12 xl6 ims-card w3-card">
    <div id="message_token" class="w3-padding w3-left w3-col l12 xl6">
    </div>
    {% for key in apikeys %}
    <div id="{{ key.id }}" class="w3-padding w3-left w3-col w3-margin-bottom  ims-card w3-card">
        <div class="w3-left"><p><a href="/accounts/profile/token/{{ key.id }}/">{{ key.key|obfuscate_token }}</a><br><small>Created: {{ key.created }}<br>Expires: {% if key.expires %}{{ key.expires }}{% else %}Never{% endif %}</small></p></div>
        <div class="w3-right"><a href="javascript:void(0)" alt="Delete API Key {{ key.id }}" class="w3-hover-red w3-button w3-round w3-border" onclick="deltoken({{ key.id }})">- Delete</a></div>
    </div>
    {% endfor %}
    <div class="w3-left"><a href="javascript:void(0)" onclick="newtoken()" alt="Create API Key" class="w3-button w3-hover-green w3-round w3-col w3-border">Create API Key</a></div>
</div>
{% endif %}
