﻿{% load static %}
{% load get_setting %}
{% settings_value "THEME_CHOICE" as theme %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "inventory/css/w3.css" %}" rel="stylesheet" />
        <link href="{% static "inventory/css/w3-theme-black.css" %}" rel="stylesheet" />
        {% if theme == 'Dark' %}<link href="{% static "inventory/css/ims-theme1.css" %}" rel="stylesheet" />{% else %}<link href="{% static "inventory/css/ims.css" %}" rel="stylesheet" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <script type="text/javascript" src="{% static "inventory/js/visibility.js" %}"></script>
    </head>
    <body class="ims-body">
        {% include "inventory/topmenu.html" %}
        <div id="body">
            <div id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>

