﻿{% load param_replace %}
{% load get_setting %}
<div class="pagination">
    <span class="step-links">
        {% settings_value "PAGINATION_STYLE2" as style2 %}
        {% settings_value "PAGINATION_STYLE3" as style3 %}
        {% settings_value "PAGINATION_OVERRIDE" as override %}
        {% if not override and page.paginator.num_pages < style2 or override == 1 %}
            {% if page.has_previous %}
            <a href="?{% param_replace page=page.previous_page_number %}" alt="Previous page of objects">Previous</a>
            {% endif %}
            {% if page.number %}
            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>
            {% endif %}
            {% if page.has_next %}
            <a href="?{% param_replace page=page.next_page_number %}" alt="Next page of objects">Next</a>
            {% endif %}
        {% elif not override and page.paginator.num_pages < style3 or override == 2 %}
            {% if page.has_previous %}
            <a href="?{% param_replace page=1 %}" alt="First page of objects">First</a>
            <a href="?{% param_replace page=page.previous_page_number %}" alt="Previous page of objects">Previous</a>
            {% endif %}
            {% if page.number %}
            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>
            {% endif %}
            {% if page.has_next %}
            <a href="?{% param_replace page=page.next_page_number %}" alt="Next page of objects">Next</a>
            <a href="?{% param_replace page=page.paginator.num_pages %}" alt="Last page of objects">Last</a>
            {% endif %}
        {% else %}
            {% if page.has_previous %}
            <a href="?{% param_replace page=1 %}" alt="First page of objects">First</a>
	    <a href="?{% param_replace page=page.previous_page_number %}" alt="Previous page of objects">Previous</a>
            {% endif %}
            {% if page.number %}
            <span class="current">
                Page <input class="ims-form-field" type="text" value="{{ page.number }}" size="2" style="width: auto;" inputmode="numeric" onblur="window.location.href='?page=' + this.value" /> of {{ page.paginator.num_pages }}.
            </span>
            {% endif %}
            {% if page.has_next %}
            <a href="?{% param_replace page=page.next_page_number %}" alt="Next page of objects">Next</a>
            <a href="?{% param_replace page=page.paginator.num_pages %}" alt="Last page of objects">Last</a>
            {% endif %}
        {% endif %}
    </span>
</div>

