{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Search</b></h4>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-padding w3-bar-block ims-card w3-card" action="." method="get">
            {{ search_form.non_field_errors }}
            {% for field in search_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Search">
            </div>
        </form>
    </div>
    {% if results %}
    <div class="w3-container">
        {% for result in results %}
        <div class="w3-col l3 m6 w3-padding ims-card w3-card">
            <p><a href="{{ result.get_absolute_url }}" alt="View Search Result {{ result }}">{{ result }}</a></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
