﻿{% load get_setting %}
{% load custom_tags %}
{% settings_value "INSTALLED_ADDONS" as addons %}
{% settings_value "THEME_CHOICE" as theme %}
<div class="w3-top">
    <div class="w3-bar w3-top w3-left-align w3-large ims-navbar w3-theme w3-text-light-grey">
        <a class="w3-bar-item w3-button w3-right w3-large w3-hide-large ims-theme ims-theme-hover1" href="javascript:void(0)" onclick="nav_open()" alt="Expand Menu">
            =
        </a>
        <span class="w3-bar-item w3-hide-large" style="padding-right:8px;">Inventory Management System</span>
        <div class="w3-left w3-hide-small w3-hide-medium ims-dropdown ims-theme-hover1">
            <button class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-dropdown-button ims-theme-hover1">Inventory</button>
            <div class="ims-dropdown-content ims-theme" style="top:43px;">
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/part/" alt="View list of Parts">Parts</a>
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/assembly/" alt="View list of Assemblies">Assemblies</a>
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/kit/" alt="View list of Kits">Kits</a>
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/storage/" alt="View list of Storage">Storage</a>
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/altsku/" alt="View list of Alternate SKU">Alternate SKUs</a>
                <a class="w3-bar-item w3-button w3-hide-small ims-no-float ims-theme-hover1" href="/inventory/search/" alt="Search for objects">Search</a>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-theme-hover1" href="/accounts/login/?next={{ request.path }}" alt="Login page">Log In</a>
        {% else %}
        <div class="w3-left w3-hide-small w3-hide-medium ims-dropdown ims-theme-hover1">
            <button class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-dropdown-button ims-theme-hover1">Addons</button>
            <div class="ims-dropdown-content ims-theme" style="top:43px;">
                {% for addon in addons %}{% if addon.enabled and addon.url %}
                <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/{{ addon.url }}" alt="View page for {{ addon.name }} Addon module">{{ addon.name }}</a>
                {% endif %}{% endfor %}
            </div>
        </div>
        <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-theme-hover1" href="/accounts/profile/" alt="View User Profile page">Profile</a>
        <div class="w3-left w3-hide-small w3-hide-medium ims-dropdown ims-theme-hover1">
            <button class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-dropdown-button ims-theme-hover1">Admin</button>
            <div class="ims-dropdown-content ims-theme" style="top:43px;">
                {% if perms|check_permissions:'inventory' %}<a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/inventory/admin/" alt="View Administrative page for Inventory">Inventory</a>{% endif %}
                {% for addon in addons %}{% if addon.enabled and addon.admin_url %}
                <a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/{{ addon.admin_url }}" alt="View Administrative page for {{ addon.name }} Addon module">{{ addon.name }}</a>
                {% endif %}{% endfor %}
                {% if perms|check_permissions:'accounts' %}<a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/accounts/admin/" alt="View Administrative page for Accounts">Accounts</a>{% endif %}
                {% if user.is_staff %}<a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/admin/" alt="View Administrative page for Django">Django</a>{% endif %}
                {% if perms.log.view_log %}<a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-no-float ims-theme-hover1" href="/logs/" alt="View Administrative page for Logs">Logs</a>{% endif %}
            </div>
        </div>
        {% if user.is_staff %}<a class="w3-bar-item w3-button w3-hide-small w3-hide-medium ims-theme-hover1" href="/inventory/about/" alt="View About page">About</a>{% endif %}
        {% endif %}
    </div>
</div>
<nav class="w3-sidebar w3-bar-block w3-large w3-animate-left ims-theme-op" id="navSidebar" style="display:none;z-index:3;top:43px;">
    <a class="w3-right w3-xlarge w3-padding-large w3-hide-large ims-theme-hover2" href="javascript:void(0)" onclick="nav_close()" title="Close Menu" style="text-decoration:none;" alt="Close Menu">X</a>
    <h4 class="w3-bar-item">
        <b>Menu</b>
    </h4>
    <div class="w3-bar-item w3-hide-large ims-theme-hover2">
        <button class="w3-button w3-hide-large ims-theme-hover2" onclick="nav_item_show('inventory_nav')" style="padding:0; width:100%; text-align:left;">Inventory</button>
        <div id="inventory_nav" class="ims-dropdown-content ims-theme-op" style="display:none; min-width:200px;">
            <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/part/" alt="View list of Parts">Parts</a>
            <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/assembly/" alt="View list of Assemblies">Assemblies</a>
	        <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/kit/" alt="View list of Kits">Kits</a>
            <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/storage/" alt="View list of Storage">Storage</a>
            <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/altsku/" alt="View list of Alternate SKU">Alternate SKUs</a>
            <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/search/" alt="Search for objects">Search</a>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/accounts/login/?next={{ request.path }}" alt="Login page">Log In</a>
    {% else %}
    <div class="w3-bar-item w3-hide-large ims-theme-hover2">
        <button class="w3-button w3-hide-large ims-theme-hover2" onclick="nav_item_show('addon_nav')" style="padding:0; width:100%; text-align:left;">Addons</button>
	    <div id="addon_nav" class="ims-dropdown-content ims-theme-op" style="display:none; min-width:200px;">
            {% for addon in addons %}{% if addon.enabled %}
            <a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/{{ addon.url }}" alt="View page for {{ addon.name }} Addon module">{{ addon.name }}</a>
            {% endif %}{% endfor %}
        </div>
    </div>
    <a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/accounts/profile/" alt="View User Profile page">Profile</a>
    <div class="w3-bar-item w3-hide-large ims-theme-hover2">
        <button class="w3-button w3-hide-large ims-theme-hover2" onclick="nav_item_show('admin_nav')" style="padding:0; width:100%; text-align:left;">Admin</button>
        <div id="admin_nav" class="ims-dropdown-content ims-theme-op" style="display:none; min-width:200px">
            {% if perms|check_permissions:'inventory' %}<a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/inventory/admin/" alt="View Administrative page for Inventory">Inventory</a>{% endif %}
            {% for addon in addons %}{% if addon.enabled and addon.admin_url %}
            <a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/{{ addon.admin_url }}" alt="View Administrative page for {{ addon.name }} Addon module">{{ addon.name }}</a>
            {% endif %}{% endfor %}
            {% if perms|check_permissions:'accounts' %}<a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/accounts/admin/" alt="View Administrative page for Accounts">Accounts</a>{% endif %}
            {% if user.is_staff %}<a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/admin/" alt="View Administrative page for Django">Django</a>{% endif %}
            {% if perms.log.view_log %}<a class="w3-bar-item w3-button w3-hide-large w3-center ims-no-float ims-theme-hover2" href="/logs/" alt="View Administrative page for Logs">Logs</a>{% endif %}
        </div>
    </div>
    {% if user.is_staff %}<a class="w3-bar-item w3-button w3-hide-large ims-theme-hover2" href="/inventory/about/" alt="View About page">About</a>{% endif %}
    {% endif %}
</nav>
<div id="navOverlay" class="w3-overlay w3-hide-large" onclick="nav_close()" style="cursor:pointer; display:none;" title="close side menu">
</div>
<script>
    window.addEventListener("resize", nav_check);
    var navopen = false;
    var navitemopen = '';
    var navSidebar = document.getElementById("navSidebar");
    var overlayBg = document.getElementById("navOverlay");
    var adminnav = document.getElementById('admin_nav');
    var invnav = document.getElementById('inventory_nav');
    var addonnav = document.getElementById('addon_nav');
    var navarray = [ adminnav, invnav, addonnav ];
    function nav_open() {
        navSidebar.style.display = 'block';
        overlayBg.style.display = 'block';
        navopen = true;
    }
    function nav_close() {
        navSidebar.style.display = 'none';
        overlayBg.style.display = 'none';
        navopen = false;
        nav_items_close();
    }
    function nav_check() {
        var w = window.innerWidth;
        if (w > 993) {
            if (navopen) {
                nav_close();
            }
        }
    }
    function nav_item_show(id) {
        if (navitemopen === id) {
            document.getElementById(id).style.display = 'none';
            navitemopen = '';
        } else {
            nav_items_close();
            document.getElementById(id).style.display = 'block';
            navitemopen = id;
        }
    }
    function nav_items_close(){
        for (let element in navarray) {
            navarray[element].style.display = 'none';
        }
    }
</script>
