﻿{% extends "inventory/base.html" %}
{% load get_setting %}

{% block title %}{{ assembly.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ assembly.name }}</b></h4>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ previous }}" alt="View Previous Assembly">Previous</a>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ next }}" alt="View Next Assembly">Next</a>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div><a href="{{ assembly.get_absolute_url }}" alt="View Assembly {{ assembly.name }}"><b>{{ assembly.name }}</b> ({{ assembly.sku }})</a></div>
            <div class="w3-left"><b>Price:</b> ${{ assembly.price }}</div>
            <div class="w3-right"><b>Cost:</b> ${{ assembly.cost }}</div>
            <div class="ims-middle-left"><b>Total:</b> {{ assembly.get_total }}</div>
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Assembly Components</b></h5></div>
            {% if perms.inventory.add_assembly %}
            <div class="w3-right">
                <a href="/inventory/admin/assembly/create/?parent={{ assembly.id }}" alt="Add Component" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if assembly.has_components %}
            {% for ap in assembly.get_components %}
            <div class="w3-padding w3-left w3-col ims-card w3-card">
                <div class="w3-left"><a href="{{ ap.part.get_absolute_url }}" alt="View Part {{ ap.part.name }}"><b>{{ ap.part.name }}</b></a></div>
                <div class="w3-right">x{{ ap.count }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
