﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}{{ kit.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ kit.name }}</b> ({{ kit.sku }})</h4>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ previous }}" alt="View Previous Kit">Previous</a>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ next }}" alt="View Next Kit">Next</a>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div id="id_kitdetails" class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-small">{{ kit.description }}</div>
            <div class="w3-left"><b>Price:</b> ${{ kit.price }}</div>
            <div class="w3-right"><b>Cost:</b> ${{ kit.get_cost }}</div>
            <div class="ims-middle-left"><b>Available:</b> {{ kit.get_available_count }}</div>
        </div>
        <div class="w3-padding w3-right w3-col l3">
            {% if perms.inventory.increment_kit %}
            <a href="javascript:void(0)" alt="Add 1 Kit to Inventory" class="w3-hover-green w3-button w3-round w3-border" onclick="addobj({{ kit.id }})">+ Add</a>
            {% endif %}{% if perms.inventory.decrement_kit %}
            <a href="javascript:void(0)" alt="Subtract 1 Kit from Inventory" class="w3-hover-red w3-button w3-round w3-border" onclick="subobj({{ kit.id }})">- Subtract</a>
            {% endif %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div id="id_kitcomponents" class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Kit Components</b></h5></div>
            {% if perms.inventory.add_kitpartstorage %}
            <div class="w3-right">
                <a href="/inventory/admin/kitpartstorage/create/?kit={{ kit.id }}" alt="Add Component" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if kit.has_components %}
            {% for kps in kit.get_components %}
            <div class="w3-padding w3-left w3-col ims-card w3-card">
                <div class="w3-left ims-padding-small"><a href="{{ kps.partstorage.storage.get_absolute_url }}" alt="View Storage {{ kps.partstorage.storage.name }}"><b>{{ kps.partstorage.storage.name }}</b></a> - <a href="{{ kps.partstorage.part.get_absolute_url }}" alt="View Part {{ kps.partstorage.part.name }}"><b>{{ kps.partstorage.part.name }}</b></a></div>
                <div class="w3-right ims-padding-small">x{{ kps.count }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>{% if perms.inventory.decrement_kit %}
    function subobj(id) {
        $.ajax({
            url: '/inventory/kit/' + id + '/sub/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/kit/' + id + '/update/kitcomponents/',
                    type: 'get',
                    success: function(data) {
                        $("#id_kitcomponents").html(data);
                    }
                });
                $.ajax({
                    url: '/inventory/kit/' + id + '/update/kitdetails/',
                    type: 'get',
                    success: function(data) {
                        $("#id_kitdetails").html(data);
                    }
                });
            }
        });
    }{% endif %}{% if perms.inventory.increment_kit %}
    function addobj(id) {
        $.ajax({
            url: '/inventory/kit/' + id + '/add/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/kit/' + id + '/update/kitcomponents/',
                    type: 'get',
                    success: function(data) {
                        $("#id_kitcomponents").html(data);
                    }
                });
                $.ajax({
                    url: '/inventory/kit/' + id + '/update/kitdetails/',
                    type: 'get',
                    success: function(data) {
                        $("#id_kitdetails").html(data);
                    }
                });
            }
        });
    }{% endif %}
</script>
{% endblock %}
