﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}{{ part.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ part.name }}</b> ({{ part.sku }})</h4>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ previous }}" alt="View Previous Part">Previous</a>
        <a class="w3-button ims-padding-small w3-hover-blue w3-margin-bottom" href="{{ next }}" alt="View Next Part">Next</a>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div id="id_partdetail" class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-small">{{ part.description }}</div>
            <div class="w3-left"><b>Price:</b> ${{ part.price }}</div>
            <div class="w3-right"><b>Cost:</b> ${{ part.cost }}</div>
            <div class="ims-middle-left"><b>Total:</b> {{ part.get_total }}</div>
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Associated Assemblies</b></h5></div>
            {% if perms.inventory.add_assembly %}
            <div class="w3-right">
                <a href="/inventory/admin/assembly/create/?part={{ part.id }}" alt="Add to Assembly" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if part.has_parent_assemblies %}
            {% for ap in part.get_parent_assemblies %}
            <div class="w3-padding ims-card w3-card"{% if forloop.first %} style="margin-top:50px;"{% endif %}>
                <a href="{{ ap.get_absolute_url }}" alt="View Assembly {{ ap.parent.name }}"><b>{{ ap.parent.name }}</b> ({{ ap.parent.sku }})</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Storage Containers</b></h5></div>
            {% if perms.inventory.add_partstorage %}
            <div class="w3-right">
                <a href="/inventory/admin/partstorage/create/?part={{ part.id }}" alt="Add to Storage" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if part.has_storage %}
            {% for ps in part.get_storage %}
	    <div id="id_{{ ps.id }}" class="w3-padding w3-left w3-col ims-card w3-card">
		    <div class="w3-left"><a href="{{ ps.storage.get_absolute_url }}" alt="View Storage {{ ps.storage.name }}"><b>{{ ps.storage.name }}</b></a></div>
                <div class="w3-right">
                    {% if perms.inventory.increment_partstorage %}
                    <a href="javascript:void(0)" alt="Add 1 to {{ ps.storage.name }}" class="w3-hover-green w3-button w3-round w3-border ims-padding-small" onclick="addobj({{ ps.id }})">+</a>
                    {% endif %}{% if perms.inventory.decrement_partstorage %}
		            <a href="javascript:void(0)" alt="Subtract 1 from {{ ps.storage.name }}" class="w3-hover-red w3-button w3-round w3-border ims-padding-small" onclick="subobj({{ ps.id }})">-</a>
                    {% endif %}
                </div>
                <div class="w3-right w3-margin-right">{{ ps.count }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Associated Kits</b></h5></div>
            {% if perms.inventory.add_kitpartstorage %}
            <div class="w3-right">
                <a href="/inventory/admin/kitpartstorage/create/" alt="Add to Kit" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if part.has_parent_kits %}
            {% for k in part.get_parent_kits %}
            <div class="w3-padding ims-card w3-card"{% if forloop.first %} style="margin-top:50px;"{% endif %}>
                <a href="{{ k.kit.get_absolute_url }}" alt="View Kit {{ k.kit.name }}"><b>{{ k.kit.name }}</b> ({{ k.kit.sku }})</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-padding w3-left w3-col l6 ims-card w3-card">
            <div class="w3-left"><h5><b>Alternate SKUs</b></h5></div>
            {% if perms.inventory.add_partalternatesku %}
            <div class="w3-right">
                <a href="/inventory/admin/partalternatesku/create/?part={{ part.id }}" alt="Add to Alt Sku" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if part.has_alt_sku %}
            {% for pa in part.get_alt_sku %}
            <div class="w3-padding ims-card w3-card"{% if forloop.first %} style="margin-top:50px;"{% endif %}>
                <b>{{ pa.alt_sku.manufacturer }}</b> ({{ pa.alt_sku.sku }})</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>{% if perms.inventory.increment_partstorage %}
    function addobj(id) {
        $.ajax({
            url: '/inventory/partstorage/' + id + '/add/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/psstorage/',
                    type: 'get',
                    success: function(data) {
                        $("#id_" + id).html(data);
                    }
                });
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/partdetail/',
                    type: 'get',
                    success: function(data) {
                        $("#id_partdetail").html(data);
                    }
                });
            }
        });
    }{% endif %}{% if perms.inventory.decrement_partstorage %}
    function subobj(id) {
        $.ajax({
            url: '/inventory/partstorage/' + id + '/sub/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/psstorage/',
                    type: 'get',
                    success: function(data) {
                        $("#id_" + id).html(data);
                    }
                });
		$.ajax({
                    url: '/inventory/partstorage/' + id + '/update/partdetail/',
                    type: 'get',
                    success: function(data) {
                        $("#id_partdetail").html(data);
                    }
                });
            }
        });
    }{% endif %}
</script>
{% endblock %}
