{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Accounts Admin{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Accounts Admin</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-padding w3-bar-block ims-card w3-card">
            {% if perms.auth.view_group %}
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/accounts/admin/group/">Groups</a>
            </div>
            {% endif %}
            {% if perms.accounts.view_invite %}
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/accounts/admin/invite/">Invites</a>
            </div>
            {% endif %}
            {% if perms.accounts.view_token %}
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/accounts/admin/token/">Tokens</a>
            </div>
            {% endif %}
            {% if perms.auth.view_user %}
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/accounts/admin/user/">Users</a>
            </div>
            {% endif %}
    </div>
    </div>
</div>
{% endblock %}
