{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% load static %}
{% block title %}New {{ name }}{% endblock %}
{% block content %}
<link href="{% static "common/css/MultiSelect.css" %}" rel="stylesheet" type="text/css">
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/accounts/admin/" alt="Accounts Admin">Accounts Admin</a>
    »
    <a href="/accounts/admin/{{ name|lower }}/" alt="Accounts Admin {{ name }}">{{ name }}</a>
    » Add {{ name }}
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>New {{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-padding w3-bar-block ims-card w3-card" action="." method="post">
            {% csrf_token %}
            {% if user_form %}
            {{ user_form.non_field_errors }}
            {% for field in user_form %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <div class="w3-bar-item ims-chkb-wrap">
                {{ field.errors }}
                {{ field | add_classes:"ims-tgl ims-tgl-skewed" }}
		    <label class="w3-left ims-form-field ims-tgl-btn" data-tg-off="Disabled" data-tg-on="Enabled" for="{{ field.id_for_label }}" />
            </div>
            {% else %}
            <div class="w3-bar-item">
                {{ field.errors }}{{ field.label }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {{ group_form.non_field_errors }}
            {% for field in group_form %}
            <div class="w3-bar-item">
                {{ field.errors }}{{ field.label }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ permission_form.non_field_errors }}
            {% for field in permission_form %}
            <div class="w3-bar-item">
                {{ field.errors }}{{ field.label }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Create">
            </div>
            <div class="w3-bar-item">
                <a href="/accounts/admin/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="{% static "common/js/MultiSelect.js" %}"></script>
{% endblock %}