{% extends "inventory/base.html" %}
{% load get_setting %}
{% load token_tags %}
{% load static %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/accounts/admin/" alt="Accounts Admin">Accounts Admin</a>
    » {{ name }}
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>{{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <div class="w3-padding w3-left w3-col l12 xl6 ims-card w3-card">
            {% if 'add' in cperms %}<div class="w3-right w3-padding"><a href="/accounts/admin/{{ name|lower }}/create/" alt="Add {{ name }}" class="w3-button w3-hover-green w3-round w3-col w3-border">+ New</a></div>{% endif %}
            {% for obj in objs %}
            <div id="{{ obj.id }}" class="w3-padding w3-left w3-col ims-card w3-card{% if name == 'User' %}{% if not obj.is_active %} w3-pale-red{% elif obj.metadata.is_locked_out %} w3-pale-yellow{% endif %}{% endif %}">
                <div class="w3-left">{% if name == 'Invite' %}<b>{{ obj }}</b><br/><small>{{ obj.code }}<br/>{{ obj.expires }}</small>{% endif %}{% if name == 'Token' %}<b>{{ obj.key|obfuscate_token }}</b><br/><small>{{ obj.user }}<br/>{{ obj.expires }}</small>{% endif %}{% if name == "User" or name == "Group" %}<b>{{ obj }}</b>{% endif %}</div>
                <div class="w3-right">
                    {% if 'delete' in cperms %}<div class="w3-right"><a href="javascript:void(0)" alt="Delete {{ name }}-{{ obj.id }}" class="w3-hover-red w3-button w3-round w3-border" onclick="delobj({{ obj.id }})">- Delete</a></div>{% endif %}
                    {% if allowupdate %}{% if 'change' in cperms %}{% if name == 'User' %}<div class="w3-right"><a href="/accounts/admin/{{ name|lower }}/change/{{ obj.id }}/password/" alt="Change Password {{ name }}-{{ obj.id }}" class="w3-button w3-hover-green w3-round w3-border w3-margin-right">Change Password</a></div>{% endif %}<div class="w3-right"><a href="/accounts/admin/{{ name|lower }}/change/{{ obj.id }}/" alt="Update {{ name }}-{{ obj.id }}" class="w3-button w3-hover-green w3-round w3-border w3-margin-right">Update</a></div>{% endif %}{% endif %}
                    {% if name == 'User' and obj.metadata.is_locked_out and 'change' in cperms %}<div id="unlock" class="w3-right"><a href="javascript:void(0)" alt="Unlock {{ name }}-{{ obj.id }}" class="w3-hover-blue w3-button w3-round w3-border w3-margin-right" onclick="unlock({{ obj.id }})">Unlock</a></div>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "inventory/pagination.html" with page=objs %}
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>{% if 'delete' in cperms %}
    function delobj(id) {
        var parentdiv = document.getElementById(id);
        $.ajax({
            url: '/accounts/admin/{{ name|lower }}/delete/' + id + '/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message").html(data);
            }
        });
    }{% endif %}{% if 'change' in cperms %}
    function unlock(id){
        var parentdiv = document.getElementById(id);
        var unlockdiv = document.getElementById('unlock');
        $.ajax({
            url: '/accounts/admin/{{ name|lower }}/unlock/' + id + '/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) {
                    parentdiv.classList.remove('w3-pale-yellow');
                    unlockdiv.classList.add('ims-hidden');
                }
                $("#message").html(data);
            }
        });
    }{% endif %}
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-admin-search-bar w3-padding w3-card">
    <form method="get" style="margin:0;">
        <input class="w3-round ims-form-field" type="text" placeholder="search for {{ name|lower }}" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button w3-round" type="submit">Search</button>
    </form>
</div>
<script>
    var scroll_direction = true;
    window.addEventListener("resize", scroll_check);
    var prev_scroll_pos = window.pageYOffset;
    var elem = document.getElementById("search");
    window.onscroll = function() {
        if (scroll_direction) {
            var current_scroll_pos = window.pageYOffset;
            if (prev_scroll_pos > current_scroll_pos) {
                elem.style.top = "81px";
            } else {
                elem.style.top = "-15px";
            }
            prev_scroll_pos = current_scroll_pos;
	} else {
            var current_scroll_pos = window.pageYOffset;
            if (prev_scroll_pos > current_scroll_pos) {
                elem.style.visibility = "visible";
            } else {
                elem.style.visibility = "hidden";
            }
            prev_scroll_pos = current_scroll_pos;
        }
    }
    function scroll_check() {
        var w = window.innerWidth;
        if (w > 639) { 
            scroll_direction = true;
            elem.style.bottom = null;
            elem.style.top = "81px";
        } else {
            scroll_direction = false;
            elem.style.top = null;
            elem.style.bottom = "0";
        }
        elem.style.visibility = "visible";
    }
</script>
{% endblock %}

