{% extends "inventory/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}MFA Login{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>Two-factor authentication</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding">
            <div class="w3-padding">When you are ready to authenticate with FIDO2, press the button below.</div>
	    <div class="w3-padding">
                <form data-fido2-auth="{{ mfa_data }}" method="POST">
                    {% csrf_token %}
                    {% for error in form.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {{ form.code.as_hidden }}
                    <button class="w3-button w3-round w3-border ims-theme-op w3-hover-green w3-margin-left" autofocus>Verify</button>
                </form>
            <div class="w3-padding">
                <a class="w3-margin" href="{% url 'mfa:auth' 'TOTP' %}">Use TOTP instead</a>
                <a class="w3-margin" href="{% url 'mfa:auth' 'recovery' %}">Use recovery code instead</a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'common/js/cbor.js' %}"></script>
<script src="{% static 'mfa/fido2.js' %}"></script>
{% endblock %}
