{% extends "inventory/base.html" %}
{% load custom_tags %}

{% block title %}Recovery Login{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>Two-factor authentication</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding">
            <div class="w3-padding"><strong>WARNING</strong>: The recovery code will be removed after it has been used. Make sure to create a new one after login!</div>
            <div class="w3-padding">
                <form method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    <label>
                        {{ form.code.label }}
                        {{ form.code | add_classes:"ims-form-field" }}
                    </label>
                    <button class="w3-button w3-round w3-border ims-theme-op w3-hover-green w3-margin-left">Verify</button>
                </form>
            </div>
	    <div class="w3-padding">
                <a class="w3-margin" href="{% url 'mfa:auth' 'FIDO2' %}">Use FIDO2 instead</a>
                <a class="w3-margin" href="{% url 'mfa:auth' 'TOTP' %}">Use TOTP instead</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
