{% extends "inventory/base.html" %}
{% load static mfa %}
{% load custom_tags %}

{% block title %}New MFA Token{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>New TOTP Token</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding w3-margin-right">
            <div class="w3-padding">Scan the code with your TOTP authenticator app. If you are unable to scan the QR Code, use the token string provided below to manually enroll your authenticator app.<br/>{{ mfa_data.url|qrcode }}<br/>{{ mfa_data.secret }}</div>
        </div>
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding">
            <div class="w3-padding">After configuring your TOTP authenticator app, provide a descriptive name and enter the currently displayed code to complete your registration.<br/></div>
            <form method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <label>
                    {{ form.name.label }}
                    {{ form.name | add_classes:"ims-form-field" }}
		        </label>
                <label>
                    {{ form.code.label }}
                    {{ form.code | add_classes:"ims-form-field" }}
                </label>
                <button class="w3-button w3-round w3-border ims-theme-op ims-form-field w3-hover-blue">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
