{% extends "inventory/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}New MFA Token{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>New FIDO2 Token</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding w3-margin-right">
            <div class="w3-padding">You will be prompted to activate the device once you click "create".</div>
        </div>
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding">
            <form data-fido2-create="{{ mfa_data }}" method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <label>
                    {{ form.name.label }}
                    {{ form.name | add_classes:"ims-form-field" }}
                </label>
                {{ form.code.as_hidden }}
                <button class="w3-button w3-round w3-border ims-theme-op ims-form-field w3-hover-blue">Create</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'common/js/cbor.js' %}"></script>
<script src="{% static 'mfa/fido2.js' %}"></script>
{% endblock %}
