{% extends "inventory/base.html" %}
{% load static mfa %}
{% load custom_tags %}

{% block title %}New Recovery Code{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>New Recovery Code</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding w3-margin-right">
            <div class="w3-padding">A recovery code can be used when you lose access to your other two-factor authentication options. Each recovery code can only be used once.<br/>Make sure to store it in a safe place! If you lose your login keys and don’t have the recovery codes you will lose access to your account.</div>
        </div>
        <div class="w3-col l12 xl6 ims-card w3-card w3-padding">
            <form method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <label>
                    {{ form.name.label }}
                    {{ form.name | add_classes:"ims-form-field" }}
                </label>
                <label>
                    {{ form.code.label }}
                    <input name="code" value="{{ mfa_data.code }}" class="ims-form-field" readonly>
                </label>
                <label>
                    <input type="checkbox" class="w3-margin ims-chkb" required>
                    I have safely stored the code
                </label>
                <button class="w3-button w3-round w3-border ims-theme-op ims-form-field w3-hover-blue">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
