{% extends "inventory/base.html" %}

{% block title %}Delete MFA Token{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>Delete MFA Token</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 ims-theme w3-card w3-padding w3-margin-right">
            <div class="w3-padding">Are you sure you want to delete the key {{ object.name }}?</div>
            <div class="w3-padding">
                <form method="POST">
                    {% csrf_token %}
                    <button class="w3-button w3-round w3-border ims-theme-op w3-hover-green">Confirm</button>
		            <a class="w3-button w3-round w3-border ims-theme-op w3-hover-red w3-margin-left" href="/mfa/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
