{% extends "inventory/base.html" %}

{% block title %}MFA Tokens{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px">
    <div class="w3-left w3-margin-top">
        <h4><b>Your MFA Tokens</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding w3-margin-right">
            <div class="w3-padding"><h3>{% if object_list %}Login keys configured{% else %}No login keys configured{% endif %}</h3></div>
	    <div class="w3-padding">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</div>
            {% if object_list|length == 1 %}
            <div class="w3-padding"><strong>WARNING</strong>: You have registered only a single key. If you lose access to that key you won't be able log into your account again.</div>
            {% endif %}
        </div>
        <div class="w3-col l12 xl6 w3-card w3-padding w3-margin-right">
            <ul class="w3-ul">
                {% for key in object_list %}
                <li>
                    <a class="w3-button w3-round w3-border ims-theme-op w3-hover-red w3-margin-right" href="{% url 'mfa:delete' key.id %}">Delete</a>
		    {{ key.name }} ({{ key.method }})
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w3-col l12 xl6 w3-card w3-padding">
            <a class="w3-button w3-round w3-border ims-theme-op w3-hover-blue w3-margin" href="{% url 'mfa:create' 'TOTP' %}">Create TOTP key</a>
            <a class="w3-button w3-round w3-border ims-theme-op w3-hover-green" href="{% url 'mfa:create' 'FIDO2' %}">Create FIDO2 key</a>
            <a class="w3-button w3-round w3-border ims-theme-op w3-hover-light-blue w3-margin" href="{% url 'mfa:create' 'recovery' %}">Create recovery code</a>
        </div>
    </div>
</div>
{% endblock %}
